.dashboard {
  margin: 20px;
  article {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    h3 {
      margin: 20px 0;
    }
  }
  ul {
    margin: 20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    li {
      display: inline-flex;
      flex-flow: row-wrap;
      justify-content: space-between;
      width: 50%;
      a {
        width: 15%;
      }
      p {
        width: 85%;
      }
    }
  }
}