@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans');
$font-serif: 'Josefin Sans', serif;
$font-sans: 'Open Sans', sans-serif;
$light:#fff;
$dark: #000;
$gray: #888;
$purple: #7E1FFF;
$accent: #3CC1E8;